# Ignore HTML and CSS backup files
*.html~
*.css~

# Ignore JavaScript backup files
*.js~

# Ignore compiled Java class files
*.class

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db
desktop.ini

# Ignore node_modules and logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Git-specific files
.git/
.gitignore~